.paginator {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 1%;
}

.selectedPage {
    font-weight: bold;
}

.pageNumber {
    cursor: pointer;
    display: inline-block;
}

.nextButton {
    margin-left:1%;
}

.prevButton {
    margin-right:1%;
}