.descriptionBlock {
    display: grid;
    grid-template-columns: 3fr 10fr;
    margin-top: 3%;
}

.headImage {
    width: 98%;
}

.profileName {
    margin-left: 5%;
    font-size: 140%;
}

.avatar {
    width: 100%;
}
