.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
    "d m"
    "d p";
    margin-top: 5%;
}

.messages {
    overflow: auto;
    max-height: 22em;
}

.textField {
    position: fixed;
    bottom: 3em;
    width:50%;
    min-height: 2em;
}

.dialogsItems {
    padding: 10px;
    grid-area: d;
}

.polevvoda {
    display: grid;
    grid-template-columns: 10fr 1fr;
}

.button {
    width: 100%;
    height: 100%;
}

.textarea {
    resize: none;
    width: 98%;
}

