.item {
    display: grid;
    grid-template-columns: 1fr 10fr;
    margin-top: 10px;
}
.item img {
    width: 80px;
    border-radius: 30px;
}

.item button {
    background-color:lightcoral;
    border: none;
    outline: none;
    font-size: 20px;
    opacity :unset;
    cursor: pointer;
}

.item button:hover {
    background-color: rgb(214, 113, 113);
}